@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
  --color-background: #F8FAFC;
}

@layer base {
  body {
    @apply bg-background text-gray-900;
  }
}
